body
{
background-color:cornflowerblue;
padding: 20px;
margin: 0;
}
h1,h2,p,ul,li
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul.header li{
    display: inline;
    list-style-type: none;
    margin:0;
}
ul.header
{
    background-color:burlywood;
    padding: 0;
}
ul.header li a {
color:#FFF;
font-weight: bold;
text-decoration: none;
padding:20px;
display: inline-block;
}

ul.account{
    background-color:blueviolet;
    padding: 0;  
    text-align: right;
}

ul.account li{
    display: inline;
    list-style-type: none;
    margin:0;
}

ul.account li a {
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    padding:20px;
    display: inline-block;
    }

.content
{
    background-color: azure;
    padding:20px;
    height: 450px;
}
.content h2{
    padding: 0;
    margin:0;
}
.content li{
    margin-bottom: 10px;
}

.bibleStudy{
 background-image: image("revelations15.png");
    height: 100%;
    width:80%;
}
.arthur-image
{
    background-image: image("arthur.png");
    height: 10%;
    width:10%;
}

.leader1
{
    image-rendering: auto;
}
.revelations{
    position: relative;


}
.footer-format
{
    text-align: center;
}

.body
{
    background-image: image("public/fbs.png");
    height:100%;
    width:100%;
}

.fbsbanner
{
    background-image: image("fsbbanner.png");
    height: 90px;
    width: 100%;
}
.fbsfooter{
    background-image: image("fbs-footer.png");
    height: 90px;
    width: 100%;
}

